In [41]:
import pandas as pd
import numpy as np
import geopandas as gpd
from bokeh.plotting import figure, save
import os
# IMPORTANT NOTE: having difficulting writing the crs to shp using geopands to_file
# Can do it manually using notepad++ though. WORK IN PROGRESS
from shapely.geometry import Point
import matplotlib.pyplot as plt
%matplotlib inline
import janmaps as jm # personal functions for mapping
from bokeh.models import ColumnDataSource, HoverTool, LogColorMapper
import pysal as ps

import plotly
import plotly.plotly as py
plotly.tools.set_credentials_file(username='XXX',api_key='XXX')
from plotly.graph_objs import *
plotly.offline.init_notebook_mode(connected=True)

In [42]:
p = figure(title = 'My first interactive plot')
AWU = gpd.read_file(r'D:\Documents\ML\Geo\shapefiles\ServiceArea\AWUServiceArea.shp')
zpco = gpd.read_file(r'D:\Documents\ML\Geo\shapefiles\zipcodes\Austinzipcodes.shp')
df = pd.read_excel(r'D:\Documents\ML\Geo\Leaks_forCo.xlsx',sheet_name='Sheet1')

In [43]:
def getPolyCoords(row, geom, coord_type):
    """Returns the coordinates ('x' or 'y') of edges of a Polygon exterior"""

    # Parse the exterior of the coordinate
    exterior = row[geom].exterior

    if coord_type == 'x':
        # Get the x coordinates of the exterior
        return list( exterior.coords.xy[0] )
    elif coord_type == 'y':
        # Get the y coordinates of the exterior
        return list( exterior.coords.xy[1] )

In [44]:
zpco['x'] = zpco.apply(getPolyCoords, geom = 'geometry', coord_type = 'x', axis =1)
zpco['y'] = zpco.apply(getPolyCoords, geom = 'geometry', coord_type = 'y', axis =1)

In [45]:
zpco.head(5)

,objectid,name,shape_len,zipcodes_i,modified_d,created_da,modified_b,created_by,geodb_oid,shape_area,zipcode,geometry,x,y
0,1.0,AUSTIN,98511.305637,54.0,None,None,None,None,1.0,3.691369e+08,78754,"POLYGON ((-97.63657664958002 30.4026577780347,...","[-97.63657664958002, -97.63753810238059, -97.6...","[30.4026577780347, 30.398205247657316, 30.3981..."
1,2.0,GRANGER,300079.664111,55.0,None,None,None,None,2.0,2.916192e+09,76530,POLYGON ((-97.25315200612187 30.69313100882735...,"[-97.25315200612187, -97.25995900177988, -97.2...","[30.693131008827347, 30.692512020186516, 30.69..."
2,3.0,AUSTIN,97785.793334,56.0,None,None,None,None,3.0,3.383405e+08,78739,POLYGON ((-97.89001573769271 30.20941197333968...,"[-97.8900157376927, -97.889286257776, -97.8886...","[30.20941197333968, 30.208707741357834, 30.207..."
3,4.0,LEANDER,196654.442800,57.0,None,None,None,None,4.0,1.043396e+09,78645,"POLYGON ((-97.91074824923403 30.5010967622175,...","[-97.91074824923403, -97.91053037500839, -97.9...","[30.501096762217504, 30.50107887431547, 30.501..."
4,5.0,AUSTIN,121428.596913,58.0,None,None,None,None,5.0,4.792590e+08,78732,POLYGON ((-97.87302802996035 30.43806372004226...,"[-97.87302802996035, -97.8733460292974, -97.87...","[30.438063720042262, 30.436983423346792, 30.43..."

In [46]:
z_df = zpco.drop('geometry',axis=1).copy()
zsource = ColumnDataSource(z_df)

In [47]:
coordX = df.X
coordY = df.Y

# Create geodataframe from data
pts_geometry = [Point(xy) for xy in zip(coordX, coordY)]
pts_crs = {'init':'epsg:3857'}
points = gpd.GeoDataFrame(df, crs=pts_crs, geometry=pts_geometry)

In [49]:
CRS = zpco.crs
print(CRS)

{'init': 'epsg:4326'}

In [36]:
zpco['geometry'] = zpco['geometry'].to_crs(crs = CRS)

In [50]:
from bokeh.palettes import RdYlBu11 as palette
from bokeh.models import LogColorMapper

# Create the color mapper
color_mapper = LogColorMapper(palette=palette)

In [30]:
p = figure(title="Zipcode")

# Plot grid
p.patches('x', 'y', source=zsource,
                  fill_alpha=1.0, line_color="black", line_width=0.5)

# Add metro on top of the same figure
#p.multi_line('x', 'y', source=msource, color="red", line_width=2)

# Add points on top (as black points)
p.circle('x','y',source = psource, size=1, color="red")

# Save the figure
outfp = r'D:\Documents\ML\Geo\plotforall1.html'
save(obj = p, filename = outfp)

C:\Users\ASUS\Anaconda3\lib\site-packages\bokeh\io\saving.py:125: UserWarning:

save() called but no resources were supplied and output_file(...) was never called, defaulting to resources.CDN

C:\Users\ASUS\Anaconda3\lib\site-packages\bokeh\io\saving.py:138: UserWarning:

save() called but no title was supplied and output_file(...) was never called, using default title 'Bokeh Plot'

'D:\\Documents\\ML\\Geo\\plotforall1.html'

In [51]:
points

,HomeNo,SubAddress1,StName,SubAddress2,SubAddress3,City,ZIP,AddressID,MapZone,ObjectID,...,LeakRepairedTime,LeakRepairedTime2,DaysElapsed,Week,Month,Year,Bi-Week,DateOnly,FullStName,geometry
0,9605,N,FM 973,RD,NaN,AUSTIN,78653,3374522,NaN,1038936,...,1475183160000,2016-09-29 21:06:00,NaN,40,9,2016,40,9/29/2016,9605 N FM 973 RD,POINT (-10860848.8235 3542441.27329999)
1,7304,NaN,LONGFORD,TRL,NaN,AUSTIN,78653,5092550,528G,1056782,...,1476421748847,2016-10-14 05:09:08,0.317464,42,10,2016,42,10/14/2016,7304 LONGFORD TRL,POINT (-10865000.6851 3549474.4441)
2,6413,NaN,BOYCE,LN,NaN,MANOR,78653,3047359,528B,1048143,...,1475816870934,2016-10-07 05:07:50,0.126284,41,10,2016,42,10/7/2016,6413 BOYCE LN,POINT (-10865699.4999 3550194.7531)
3,6413,NaN,BOYCE,LN,NaN,MANOR,78653,3047359,528B,1050326,...,1475896952854,2016-10-08 03:22:32,1.053158,41,10,2016,42,10/8/2016,6413 BOYCE LN,POINT (-10865699.4999 3550194.7531)
4,5600,NaN,WAR ADMIRAL,DR,NaN,DEL VALLE,78617,3049059,678P,1097471,...,1480307851468,2016-11-28 04:37:31,0.273281,49,11,2016,50,11/28/2016,5600 WAR ADMIRAL DR,POINT (-10865812.9825 3525692.1875)
5,9775,E,US 290 HWY,SVRD,2018-01-02 00:00:00,AUSTIN,78724,5077135,528X,1261617,...,1493188657071,2017-04-26 06:37:37,0.476818,17,4,2017,18,4/26/2017,9775 1/2 E US 290 HWY SVRD EB,POINT (-10865815.5598 3546548.6322)
6,16118,NaN,FM 812,RD,NaN,AUSTIN,78617,3372550,738P,1213275,...,1489131451918,2017-03-10 07:37:31,0.407314,10,3,2017,10,3/10/2017,16118 FM 812 RD,POINT (-10865883.3765 3516941.32859999)
7,9500,NaN,DECKER,LN,NaN,AUSTIN,78724,3050731,NaN,1169608,...,1485551640000,2017-01-27 21:14:00,NaN,4,1,2017,4,1/27/2017,9500 DECKER LN,POINT (-10865906.9717 3544933.22439999)
8,15001,NaN,JACOBSON,RD,NaN,DEL VALLE,78617,99534,NaN,1312146,...,1499711400000,2017-07-10 18:30:00,NaN,28,7,2017,28,7/10/2017,15001 JACOBSON RD,POINT (-10865926.1574 3520651.5318)
9,11920,NaN,DUNFRIES,LN,NaN,AUSTIN,78754,3127585,528F,1033915,...,1474760252967,2016-09-24 23:37:32,0.295520,39,9,2016,40,9/24/2016,11920 DUNFRIES LN,POINT (-10865932.9761 3549424.0451)
10,12005,NaN,DUNFRIES,LN,NaN,AUSTIN,78754,3127593,528F,1115834,...,1481690260273,2016-12-14 04:37:40,0.278244,51,12,2016,52,12/14/2016,12005 DUNFRIES LN,POINT (-10865939.316 3549353.93559999)
11,12200,NaN,KILMARTIN,LN,NaN,MANOR,78653,3047388,NaN,1164680,...,1485283680000,2017-01-24 18:48:00,NaN,4,1,2017,4,1/24/2017,12200 KILMARTIN LN,POINT (-10865964.6176 3550397.3109)
12,11324,NaN,AVERING,LN,NaN,AUSTIN,78754,131670,528P,1205680,...,1488440256705,2017-03-02 07:37:36,0.670564,9,3,2017,10,3/2/2017,11324 AVERING LN,POINT (-10865966.7387 3548151.51179999)
13,12217,NaN,ORKNEY,LN,NaN,MANOR,78653,3037710,528B,1286807,...,1495003056260,2017-05-17 06:37:36,0.543475,20,5,2017,20,5/17/2017,12217 ORKNEY LN,POINT (-10865973.4057 3550493.71339999)
14,6801,NaN,WILLIAM WALLACE,WAY,NaN,AUSTIN,78754,217008,528K,1236115,...,1491115050837,2017-04-02 06:37:30,0.461468,14,4,2017,14,4/2/2017,6801 WILLIAM WALLACE WAY,POINT (-10865983.6827 3548943.0546)
15,13409,NaN,SEA BISCUIT,DR,NaN,DEL VALLE,78617,3049024,NaN,1323397,...,1503089700000,2017-08-18 20:55:00,NaN,33,8,2017,34,8/18/2017,13409 SEA BISCUIT DR,POINT (-10866086.0825 3525667.9605)
16,13409,NaN,SEA BISCUIT,DR,NaN,DEL VALLE,78617,3049024,NaN,1323396,...,1503089700000,2017-08-18 20:55:00,NaN,33,8,2017,34,8/18/2017,13409 SEA BISCUIT DR,POINT (-10866086.0825 3525667.9605)
17,14904,NaN,BERN,DR,NaN,DEL VALLE,78617,99491,708T,1100393,...,1480480654515,2016-11-30 04:37:34,0.425399,49,11,2016,50,11/30/2016,14904 BERN DR,POINT (-10866092.1273 3520394.46999999)
18,7001,NaN,MUCKENDER,LN,NaN,AUSTIN,78754,133939,528P,1086778,...,1479279152362,2016-11-16 06:52:32,0.376763,47,11,2016,48,11/16/2016,7001 MUCKENDER LN,POINT (-10866109.9928 3548150.47999999)
19,13400,NaN,ALYSHEBA,DR,NaN,DEL VALLE,78617,3048963,NaN,1288109,...,1495486020000,2017-05-22 20:47:00,NaN,21,5,2017,22,5/22/2017,13400 ALYSHEBA DR,POINT (-10866128.1476 3525643.57039999)
20,13304,NaN,DEARBONNE,DR,NaN,DEL VALLE,78617,3052166,678K,1072120,...,1477536758028,2016-10-27 02:52:38,0.306690,44,10,2016,44,10/27/2016,13304 DEARBONNE DR,POINT (-10866170.2034 3526061.4415)
21,14938,NaN,SWISS,DR,NaN,DEL VALLE,78617,251166,708T,1151616,...,1484206657728,2017-01-12 07:37:37,0.719187,2,1,2017,2,1/12/2017,14938 SWISS DR,POINT (-10866171.0797 3520023.29609999)
22,6016,NaN,BLUE BLUFF,RD,NaN,AUSTIN,78724,134707,588P,1174944,...,1485934654694,2017-02-01 07:37:34,0.429568,5,2,2017,6,2/1/2017,6016 BLUE BLUFF RD,POINT (-10866181.09 3539252.3307)
23,11135,NaN,SEAY,ST,NaN,AUSTIN,78754,139847,528P,1232882,...,1490855851874,2017-03-30 06:37:31,0.380924,13,3,2017,14,3/30/2017,11135 SEAY ST,POINT (-10866193.0789 3547958.2928)
24,16104,NaN,FM 812,RD,NaN,DEL VALLE,78617,659852,NaN,1220078,...,1489809180000,2017-03-18 03:53:00,NaN,11,3,2017,12,3/18/2017,16104 FM 812 RD,POINT (-10866193.6861 3516862.7289)
25,14806,NaN,ZURICK,DR,NaN,DEL VALLE,78617,623906,NaN,1069305,...,1477324440000,2016-10-24 15:54:00,NaN,44,10,2016,44,10/24/2016,14806 ZURICK DR,POINT (-10866227.6821 3520367.7126)
26,11406,NaN,ASHPRINGTON,CV,NaN,AUSTIN,78754,645910,528K,1136187,...,1483072655340,2016-12-30 04:37:35,0.523326,53,12,2016,54,12/30/2016,11406 ASHPRINGTON CV,POINT (-10866281.0453 3548727.65119999)
27,6612,NaN,ASHPRINGTON,LN,NaN,AUSTIN,78754,91205,528K,1256718,...,1492756647361,2017-04-21 06:37:27,0.489900,16,4,2017,16,4/21/2017,6612 ASHPRINGTON LN,POINT (-10866295.2831 3548777.9966)
28,13209,NaN,VIZQUEL,LOOP,NaN,DEL VALLE,78617,3048702,678P,1149369,...,1484109455088,2017-01-11 04:37:35,0.494156,2,1,2017,2,1/11/2017,13209 VIZQUEL LOOP,POINT (-10866311.0264 3525901.8871)
29,5620,NaN,CLYDE,LN,NaN,MANOR,78653,3214681,NaN,1416556,...,1515783420000,2018-01-12 18:57:00,NaN,2,1,2018,2,1/12/2018,5620 CLYDE LN,POINT (-10866321.8382 3551345.2845)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3855,9200,NaN,EL REY,BLVD,NaN,AUSTIN,78737,951632,NaN,1407702,...,1515187920000,2018-01-05 21:32:00,NaN,1,1,2018,2,1/5/2018,9200 EL REY BLVD,POINT (-10898770.0802 3531877.54559999)
3856,8724,NaN,THUNDERBIRD,RD,NaN,AUSTIN,78736,251477,NaN,1127997,...,1482440940000,2016-12-22 21:09:00,NaN,52,12,2016,52,12/22/2016,8724 THUNDERBIRD RD,POINT (-10898836.683 3534178.52059999)
3857,7500,NaN,MOWINKLE,DR,NaN,AUSTIN,78736,872048,NaN,1353380,...,1507151160000,2017-10-04 21:06:00,NaN,40,10,2017,40,10/4/2017,7500 MOWINKLE DR,POINT (-10898902.8647 3534850.9601)
3858,9518,NaN,SAN DIEGO,RD,NaN,AUSTIN,78737,292341,NaN,1299971,...,1497913200000,2017-06-19 23:00:00,NaN,25,6,2017,26,6/19/2017,9518 SAN DIEGO RD,POINT (-10898918.9696 3531490.37179999)
3859,9514,NaN,SAN DIEGO,RD,NaN,AUSTIN,78737,292329,641E,1202710,...,1488267468287,2017-02-28 07:37:48,0.474170,9,2,2017,10,2/28/2017,9514 SAN DIEGO RD,POINT (-10899013.7752 3531446.7462)
3860,6701,NaN,MIDWOOD,PKWY,NaN,AUSTIN,78736,649780,611E,1048148,...,1475816870934,2016-10-07 05:07:50,0.403367,41,10,2016,42,10/7/2016,6701 MIDWOOD PKWY,POINT (-10899040.1377 3536276.2179)
3861,9207,NaN,LAURALAN,DR,NaN,AUSTIN,78736,926978,NaN,1078907,...,1477977180000,2016-11-01 05:13:00,NaN,45,11,2016,46,11/1/2016,9207 LAURALAN DR,POINT (-10899060.1843 3534897.29029999)
3862,9207,NaN,LAURALAN,DR,NaN,AUSTIN,78736,926978,NaN,1327792,...,1503511020000,2017-08-23 17:57:00,NaN,34,8,2017,34,8/23/2017,9207 LAURALAN DR,POINT (-10899060.1843 3534897.29029999)
3863,9300,NaN,SAN DIEGO,RD,NaN,AUSTIN,78737,1017236,NaN,1244984,...,1491815040000,2017-04-10 09:04:00,NaN,15,4,2017,16,4/10/2017,9300 SAN DIEGO RD,POINT (-10899133.4369 3531890.47249999)
3864,8814,NaN,THUNDERBIRD,RD,NaN,AUSTIN,78736,438747,NaN,1425978,...,1516679520000,2018-01-23 03:52:00,NaN,4,1,2018,4,1/23/2018,8814 THUNDERBIRD RD,POINT (-10899135.505 3533899.9512)
3865,7902,NaN,MOWINKLE,DR,NaN,AUSTIN,78736,3147153,NaN,1261619,...,1493140260000,2017-04-25 17:11:00,NaN,17,4,2017,18,4/25/2017,7902 MOWINKLE DR,POINT (-10899165.8861 3534391.46899999)
3866,9208,NaN,LAURALAN,DR,NaN,AUSTIN,78736,267639,NaN,1336644,...,1504640160000,2017-09-05 19:36:00,NaN,36,9,2017,36,9/5/2017,9208 LAURALAN DR,POINT (-10899242.1566 3535034.52889999)
3867,9208,NaN,LAURALAN,DR,NaN,AUSTIN,78736,267639,NaN,1343451,...,1505758200000,2017-09-18 18:10:00,NaN,38,9,2017,38,9/18/2017,9208 LAURALAN DR,POINT (-10899242.1566 3535034.52889999)
3868,9413,NaN,EL REY,BLVD,NaN,AUSTIN,78737,543825,NaN,1036111,...,1474946580000,2016-09-27 03:23:00,NaN,40,9,2016,40,9/27/2016,9413 EL REY BLVD,POINT (-10899329.9291 3531835.6071)
3869,7709,NaN,EL DORADO,DR,NaN,AUSTIN,78737,544227,641E,1113779,...,1481517451836,2016-12-12 04:37:31,0.505230,51,12,2016,52,12/12/2016,7709 EL DORADO DR,POINT (-10899397.3973 3531742.6871)
3870,9305,NaN,LAURALAN,DR,NaN,AUSTIN,78736,108369,NaN,1325781,...,1503344160000,2017-08-21 19:36:00,NaN,34,8,2017,34,8/21/2017,9305 LAURALAN DR,POINT (-10899440.4551 3535016.54349999)
3871,7600,NaN,TOWANA,CIR,NaN,AUSTIN,78736,1029255,NaN,1104976,...,1480710780000,2016-12-02 20:33:00,NaN,49,12,2016,50,12/2/2016,7600 TOWANA CIR,POINT (-10899449.171 3534899.0759)
3872,8910,NaN,DORELLA,LN,NaN,AUSTIN,78736,874232,NaN,1078904,...,1478049000000,2016-11-02 01:10:00,NaN,45,11,2016,46,11/2/2016,8910 DORELLA LN,POINT (-10899465.7532 3534520.24589999)
3873,9500,NaN,LAURALAN,DR,NaN,AUSTIN,78736,927986,611J,1063810,...,1476932870353,2016-10-20 03:07:50,0.323499,43,10,2016,44,10/20/2016,9500 LAURALAN DR,POINT (-10899531.9503 3535187.9473)
3874,9402,NaN,TOWANA,TRL,NaN,AUSTIN,78736,1048526,611N,1162205,...,1485157052667,2017-01-23 07:37:32,0.667045,4,1,2017,4,1/23/2017,9402 TOWANA TRL,POINT (-10899589.9998 3534986.50249999)
3875,7801,NaN,PITTER PAT,LN,NaN,AUSTIN,78736,118575,NaN,1323393,...,1503107880000,2017-08-19 01:58:00,NaN,33,8,2017,34,8/19/2017,7801 PITTER PAT LN,POINT (-10899643.4609 3535021.3391)
3876,8007,NaN,PITTER PAT,LN,NaN,AUSTIN,78736,874370,NaN,1069311,...,1477331040000,2016-10-24 17:44:00,NaN,44,10,2016,44,10/24/2016,8007 PITTER PAT LN,POINT (-10899930.58 3534683.148)
3877,7400,NaN,WISTERIA VALLEY,DR,NaN,AUSTIN,78739,3212511,670H,1063814,...,1476932870353,2016-10-20 03:07:50,0.540166,43,10,2016,44,10/20/2016,7400 WISTERIA VALLEY DR,POINT (-10900071.7836 3527438.9302)
3878,8405,NaN,LA PLATA,LOOP,NaN,AUSTIN,78737,110064,640R,1263930,...,1493361454587,2017-04-28 06:37:34,0.653178,17,4,2017,18,4/28/2017,8405 LA PLATA LOOP,POINT (-10900488.914 3529788.0609)
3879,13416,NaN,MERIDIAN PARK,BLVD,NaN,AUSTIN,78739,3378932,670M,1054369,...,1476246233560,2016-10-12 04:23:53,0.536731,42,10,2016,42,10/12/2016,13416 MERIDIAN PARK BLVD,POINT (-10900727.787 3526108.2012)
3880,12200,NaN,MERIDIAN PARK,BLVD,NaN,AUSTIN,78739,3371048,670H,1262736,...,1493275052027,2017-04-27 06:37:32,0.500371,17,4,2017,18,4/27/2017,12200 MERIDIAN PARK BLVD,POINT (-10900743.133 3527365.92859999)
3881,7804,NaN,THOMAS SPRINGS,RD,NaN,AUSTIN,78736,872918,NaN,1385509,...,1511946840000,2017-11-29 09:14:00,NaN,48,11,2017,48,11/29/2017,7804 THOMAS SPRINGS RD,POINT (-10900763.9759 3535484.54079999)
3882,11012,NaN,CHERISSE,DR,NaN,AUSTIN,78739,3315627,NaN,1090546,...,1479484860000,2016-11-18 16:01:00,NaN,47,11,2016,48,11/18/2016,11012 CHERISSE DR,POINT (-10900910.9802 3527445.68919999)
3883,11117,NaN,CHERISSE,DR,NaN,AUSTIN,78739,3315655,NaN,1414725,...,1515606540000,2018-01-10 17:49:00,NaN,2,1,2018,2,1/10/2018,11117 CHERISSE DR,POINT (-10901067.4787 3527607.26179999)
3884,12700,NaN,HILL COUNTRY,BLVD,NaN,AUSTIN,78738,3305689,NaN,1233698,...,1490942248966,2017-03-31 06:37:28,0.380196,13,3,2017,14,3/31/2017,12700 HILL COUNTRY BLVD,POINT (-10902490.0766 3543283.00029999)

In [12]:
def getPointCoords(row, geom, coord_type):
    """Calculates coordinates ('x' or 'y') of a Point geometry"""
    if coord_type == 'x':
        return row[geom].x
    elif coord_type == 'y':
        return row[geom].y

In [27]:
points['x'] = points.apply(getPointCoords, geom='geometry', coord_type='x', axis=1)
points['y'] = points.apply(getPointCoords, geom='geometry', coord_type='x', axis=1)

In [28]:
p_df = points.drop('geometry',axis=1).copy()
psource = ColumnDataSource(p_df)